{% extends "base_site_auth.html" %}

{% block title %} Login {% endblock title %}

{% block bkg_image %}register{% endblock bkg_image %}

{% block content %}

    <div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto">


      <form role="form" method="post" action="">

        {{ form.hidden_tag() }}

        <div class="card card-login card-hidden">
          <div class="card-header card-header-rose text-center">
            <h4 class="card-title">
              Register
            </h4>
            <div class="social-line">
              <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                <i class="fa fa-facebook-square"></i>
              </a>
              <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                <i class="fa fa-google-plus"></i>
              </a>
            </div>
          </div>
          <div class="card-body ">
            <p class="card-description text-center">

              {% if msg %}
                {{ msg | safe }}
              {% else %}
                Add registration information
              {% endif %}
                
            </p>

            <span class="bmd-form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">face</i>
                  </span>
                </div>
                {{ form.username(placeholder="Username",class="form-control") }}
              </div>
            </span>

            <div class="form-group has-default">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">mail</i>
                  </span>
                </div>
                {{ form.email(placeholder="Email",class="form-control") }}
              </div>
            </div>

            <span class="bmd-form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">lock_outline</i>
                  </span>
                </div>
                {{ form.password(placeholder="Password",class="form-control",type="password") }}
              </div>
            </span>


          </div>
          <div class="card-footer justify-content-center">
            <button type="submit" name="register" class="btn btn-primary my-4">Register</button>
          </div>

          <div class="form-check text-center">
            <label class="form-check-label">
              Already have an account? 
              <a href="/login">Login</a>.
            </label>
          </div>

          <br />

        </div>
      </form>
    </div>

{% endblock content %}
