
    <footer class="footer">
      <div class="container-fluid">
        <nav class="float-left">
          <ul>
            <li>
              <a href="http://appseed.us/admin-dashboards/flask-dashboard-material-pro">
                Flask Dashboard Material Pro
              </a>
            </li>
          </ul>
        </nav>
        <div class="copyright float-right">
          &copy;
          <script>
            document.write(new Date().getFullYear())
          </script>
          <a href="https://www.creative-tim.com/product/material-dashboard-pro">
          Creative-Tim
          </a>.
          Coded in <a href="https://palletsprojects.com/p/flask/">Flask</a> by AppSeed. 
        </div>
      </div>
    </footer>
